<launch>
  <!-- kinect and frame ids -->
  <machine name="robot" address="$(env ROBOT)" env-loader="/home/jfstepha/ros_workspace/env.sh" user="jfstepha" timeout="240"/>
  <include file="$(find yertle)/launch/openni.launch"/> 

  <!-- throttling -->

  <!-- fake laser -->
  <node machine="robot" pkg="nodelet" type="nodelet" name="kinect_laser" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet camera_nodelet_manager">
    <param name="output_frame_id" value="/scanner"/>
    <remap from="image" to="/camera/depth/image_raw"/>
  </node>


</launch>
