<launch>
    <include file="$(find yertle)/launch/drive.launch" />
    <include file="$(find yertle)/launch/kinect_to_laser.launch"/>
    <include file="$(find yertle)/launch/gmapping.launch"/>
    <!-- <include file="$(find yertle)/launch/telepres.launch"/> -->
    <!-- <node name="image_robot" pkg="image_view" type="image_view">
            <remap from="image" to="/camera/rgb/image_color"/>
        </node> -->
    <!-- <node pkg="rviz" type="rviz" name="rviz"/> -->
    <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" />
</launch>
